@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap');
@font-face {
  font-family: typoStuck;
  src: url(fonts/TYPOSTUCK.ttf);
}

html {
  height: 100%;
  width: 100%;
}
body {
	background-color: #404258;
	color: white;
	font-family: Open Sans, Helvetica, sans-serif;
}
h1 {
	font-size: 10vw;
	text-align: center; 
}
h2 {
	font-family: Noto Sans Zanabazar Square;
	font-size: 200%;
}
h3 {
	font-size: 200%;
}
h4 {
	font-size: 150%;
}
img {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
span {
	border: 2px solid white;
	border-radius: 25px;
	padding: 3px;
	padding-left: 6px;
	margin: 3px;
	line-height: 35px;
	background: black;
}
a {
	color: white;
}
a:link,visited,hover,active {
  text-decoration: none;
}

.textCenter {
	text-align: center;
}
.lessHeight {
	margin-top: -20px;
}
.typoStuckFont {
	font-family: typoStuck;
  text-shadow: 0.5vw 0.5vw 0px black
}

/* NOTICEs */
.wipNotice {
	border: solid 3px black;
	border-radius: 5px;
	background-color: #f7e463;
	margin: 30px;
	padding: 0px 15px;
	color: black;
}
.wipNotice * {
	line-height: 100%;
}
.warning {
	border: solid 3px darkred;
	border-radius: 5px;
	background-color: #eb6060;
	margin: 30px;
	padding: 0px 15px;
}
/* END NOTICES */

/* GROUPS */
.groupImg {
	width: 95%;
	margin-top: 15px;
	margin-bottom: -10px;
}
.links {
	margin-bottom: 10px;
}
.region {
	border-radius: 10px;
	margin: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #474E68;
}
.groupsDiv {
	-webkit-column-width: 10em;
	-webkit-column-gap: 1em;
	-webkit-column-count: 5;
	-moz-column-width: 20em;
	-moz-column-gap: 2em;
	-moz-column-count: 2;
	-ms-column-width: 20em;
	-ms-column-gap: 2em;
	-ms-column-count: 5;
	column-width: 20em;
	column-gap: 2em;
	column-count: 5;
	padding-bottom: 15px;
}
.groupCard {
	border: 2px solid black;
	border-radius: 25px;
	padding: 10px;
	background-color: #50577A;
	
	
	/* COLUMNS */
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	width: 100%;
	box-sizing:border-box;
}
.groupCard:not(:first-of-type) {
  margin: 20px 0;
}
/* END GROUPS */

/* FAQ */
.faq {
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px;
	border-radius: 10px;
	background-color: #50577A;
}
.faq h2 {
	font-size: 500%;
	margin: 20px;
}
.faqCard {
	background-color: #474E68;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.faqCard p {
	margin-left: 15px;
	margin-right: 15px;
}
div.faqCard h4 {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: -10px;
}
/* END FAQ */

/* ACTIVITY BANNER */
.activityDiv {
	font-size: 30px;
	padding: 10px 5px;
	margin: 10px -10px -10px -10px;
	border-radius: 0% 0% 23px 23px;
	text-align: center;
}
.activityDiv * {
	margin-top: auto;
	margin-bottom: auto;
}
.Active {
	background-color: #7cd992;
}
.Inactive {
	background-color: #f7e463;
}
.Dead {
	background-color: #eb6060;
}
.Unknown {
	background-color: #a8a8a8;
}
/* END ACTIVITY BANNER */

/* CONTACT */

.contact h2 {
	font-size: 500%;
	margin: 20px;
}

/* EMAIL FORM */
.emailForm {
	border-radius: 5px;
  background-color: #50577A;
  padding: 20px;
	margin: 20px 10%;
}
input[type=text], [type=email], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #7cd992;
}
/* END EMAIL FORM */

/* END CONTACT */

/* LINK COLORS */
.Instagram {
	background-image: linear-gradient(to bottom right, 	#feda75, 	#fa7e1e, #d62976, #962fbf, 	#4f5bd5);
	border-color: #000000;
}
.Discord {
	background-color:	#5662F6;
	border-color: #23272a;
}
.Tumblr {
	background-color: #001935;
	border-color: #00B8FF;
}
.TikTok {
	background-image: linear-gradient(to bottom right, #00f2ea, #ff0050);
	border-color: black;
}
.YouTube {
	background-color: #FF0000;
	border-color: #282828;
}
.Linktree {
	background-color: #4d6d17;
	border-color: black;
}
.Facebook {
	background-color: #4292FF;
	border-color: #18191A;
}
.Twitter {
	background-color: #1D9BF0;
}
.DeviantArt {
	background-color: #00E59B;
	border-color: #06070D;
}
/* END LINK COLORS */